{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c0c0c0;">
        <div class="container">
            <h2>L-cafe 장부</h2>
        </div>
    </nav>

    <div class="row">
        <div class="col-2"></div>


        <div class="col-3">
            <div class="row my-3">
                <div class="col bg-info">
                    품목
                </div>
                <div class="col bg-danger">
                    가격
                </div>
                
            </div>

            {% for i in items %}

                <ul class="list-group list-group-horizontal my-1 row">
                    <li class="list-group-item col">{{ i.name }}</li>
                    <li class="list-group-item col">{{ i.cost }}</li>
                </ul>
        
            {% endfor %}
        </div>
        <div class="col-4"></div>
        <div class="col-1">
            <div class="card my-3">
                <div class="card-header">
                    도구
                </div>
                <div class="card-body">
                    <!-- 미완; 버튼 클릭시 URL 수정. -->
                    <!-- <button type="button" style="width: 106px; height: 40px;" class="btn btn-outline-success mb-2" onclick="location.href='./update'">수정</button> -->
                    <!-- <button type="button" style="width: 106px; height: 40px;" class="btn btn-outline-success mb-2" onclick="location.href='./delete'">품목 삭제</button> -->
                    <button type="button" style="width: 106px; height: 40px;" class="btn btn-outline-success" onclick="location.href='./add'">품목 추가</button>

                </div>
            </div>

        </div>
        <div class="col"></div>



    </div>

    


</body>

</html>